{
  "root": true,
  "extends": "@react-native-community",
  "rules": {
    "prettier/prettier": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": [
    "react",
    "react-hooks"
  ]
}